<div class="real-container">
  <div class="title">
    <h2>Aplicación web Inmobiliaria</h2>
    <div class="linea"></div>
  </div>
  <p>
    Trabajo de fin de curso del bootcamp de JavaScript que consistía en crear un
    web para una empresa inmobiliaria.<br />
    Aplicación web dinámica, con gestión de catálogo y usuarios. Aplicación
    cliente-servidor diseñada en tres capas y desarrollada en un nivel.<br />
    Capa de presentación, HTML, CSS y JavaScript.<br />
    Capa de aplicación con JavaScript.<br />
    Capa de Datos, persistencia de datos con archivos JSON. <br />
    En el siguiente enlace podrás ver el código completo en Git Hub.
  </p>

  <a
    href="https://github.com/Diegoarn/laboratorios_bootcamp/tree/main/inmobiliaria"
    target="_blank"
    class="git"
    >Git Hub</a
  >

  <div class="image-container">
    <div class="page">
      <img src="./assets/real-estate/inmobiliaria.png" />
    </div>
    <div class="page">
      <img src="./assets/real-estate/inmobiliaria2.png" />
    </div>
    <div class="page">
      <img src="./assets/real-estate/inmobiliaria3.png" />
    </div>
  </div>
  <a routerLink="/"
    ><img src="./assets/flecha-izquierda.png" class="arrow"
  /></a>
</div>
