<div class="container">
  <div class="title">
    <h3>Catálogos</h3>
    <div class="linea"></div>
  </div>
  <p>
    Catálogo diseñado para la fabrica de muebles BLASTATION.<br />
    Herramientas utilizadas:<br />
    · Photoshop <br />· Illustrator<br />
    · InDesign
  </p>
</div>

<div class="cart-container">
  <img src="./assets/catalogos/cat1.jpg" />
  <img src="./assets/catalogos/cat2.jpg" />
  <img src="./assets/catalogos/cat3.jpg" />
  <img src="./assets/catalogos/cat4.jpg" />
  <img src="./assets/catalogos/cat5.jpg" />
  <img src="./assets/catalogos/cat6.jpg" />
  <img src="./assets/catalogos/cat7.jpg" />
  <img src="./assets/catalogos/cat8.jpg" />
  <img src="./assets/catalogos/cat9.jpg" />
</div>

<a routerLink="/" class="container"
  ><img src="./assets/flecha-izquierda.png" class="arrow"
/></a>
