footer {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid rgb(128, 128, 128);
  padding-bottom: 1%;
}

@media screen and (max-width: 500px) {
footer {
  font-size: 10px;
}
}




