<header class="background-container">
  <div class="triangulo"></div>
  <div class="header-container">
    <div class="contact">
      <div class="foto-container">
        <img src="./assets/foto-2.jpg" alt="foto personal" class="foto" />
      </div>

      <div class="nombre">
        <h1>Diego Arnedo Vicente</h1>
        <h2>Desarrollador Front-End</h2>

        <div class="link-container">
          <a
            href="https://www.linkedin.com/in/diego-arnedo-b7012b272/"
            target="_blank"
          >
            <img src="./assets/linkedin.png" class="linkedin"
          /></a>
          <a href="https://github.com/Diegoarn" target="_blank">
            <img src="./assets/github.png" class="link" />
          </a>
          <div>
            <app-contact-details-popup></app-contact-details-popup>
          </div>
        </div>
      </div>
    </div>
    <div class="paragraph">
      <p>
        <em>
          Hola, soy Diego y los últimos años de mi carrera profesional los he desarrollado en el mundo
          del marketing pero la idea de estar involucrado en los procesos de creación es lo que me ha
          llevado a dar el salto a la
          programación Front-End.<br />No quiero tener solo las ideas, sino también ser capaz de ejecutarlas.
        </em> 
        <!-- <em>
          Hola soy Diego y he desarrollado toda mi carrera profesional en el
          mundo del marketing, siempre con una constante, me gusta "mancharme
          las manos" para controlar el resultado final. La idea de estar
          involucrado en el proceso es lo que más me atrae de este trabajo y es
          lo que me ha llevado a dar el salto a la programación Front-End. No
          quiero tener solo las ideas sino también ser capaz de ejecutarlas.
        </em> -->
      </p>
    </div>
  </div>
</header>
