
.background-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(75, 72, 92);
  /* background-color: rgb(79, 68, 100); */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 2px solid rgb(121, 121, 123);
  border-left: none;
  color: rgb(212, 212, 212);
  margin-bottom: 2%;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 15%;
  width: 100%;
  height: 25em;
  gap: 2%;

}
.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12%;
}

h1 {
  height: 18px;
  font-size: 30px;
  margin-top: -2%;
}

h2 {
  margin-top: -3px;
  font-weight: lighter;
  color:rgb(168, 167, 167);
  font-size: 24px;
}
.foto-container {
  width: 230px;
  margin-top: 5%;

}
.foto {
  width: 100%;
  overflow: hidden;
  border-radius: 18px;
  border: 1px solid rgb(121, 121, 123);
  opacity: 85%;
}

.nombre {
  width: 100%;
  margin-top: 2%;
}

.link-container {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
  margin-top: 7%;
}

.link {
  width: 31px;
  opacity: 67%;
}

.link:hover {
  opacity: 40%;
}
.linkedin {
  width: 31px;
  opacity: 67%;
}
.linkedin:hover {
  opacity: 40%;
}

.paragraph {
font-size: 17px;
width: 65%;
}

.triangulo {
  width: 0;
  height: 0;
  border-left: 160px solid rgb(121, 121, 123);
  /* border-left: 160px solid rgb(89, 100, 68); */
  border-top: 200px solid transparent;
  border-bottom: 200px solid transparent;
}


@media screen and (max-width: 840px) {

  .header-container {
    justify-content: left;
    align-items: start;

    width: 100%;
    height: 100%;
    gap: 8%;
   margin-top: 0%;
    margin-bottom: 3%;
  }

  .foto-container {
    margin-top: 5%;
    width: 140px;
  }

  h1 {
    margin-top: 16px;
    font-size: 22px;
    width: 300px;
  }

  h2 {
    margin-top: -1px;
    font-size: 18px;
    width: 300px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10%;
  }

  .paragraph {
    width: 75%;

    }
    .triangulo {
      width: 0;
      height: 0;
      border-left: 100px solid rgb(121, 121, 123);
      border-top: 250px solid transparent;
      border-bottom: 250px solid transparent;
    }
}


@media screen and (max-width: 420px) {

  .triangulo {
    width: 0;
    height: 0;
    border-left: 0px solid rgb(121, 121, 123);
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
  }
}
