<div class="real-container">
  <div class="title">
    <h3>Aplicación web React</h3>
    <div class="linea"></div>
  </div>
  <p>
    Aplicación web dinámica, desarrollada con el framework React y lenguaje JSX,
    con estructura FLUX. Comunicación con Apis Rest, definiendo JSON cómo
    estándar de comunicación, para la gestión de listados y sus detalles
    dinámicos.<br />
    En el siguiente enlace podrás ver el código completo en GitHub.
  </p>
  <a
    href="https://github.com/Diegoarn/laboratorios_master/tree/main/modulo_4/react"
    target="_blank"
    class="git"
    >GitHub</a
  >

  <div class="image-container">
    <div class="page">
      <img src="./assets/react/react.png" />
    </div>
    <div class="page">
      <img src="./assets/react/react2.png" />
    </div>
    <div class="page">
      <img src="./assets/react/react3.png" />
    </div>
  </div>
  <a routerLink="/"
    ><img src="./assets/flecha-izquierda.png" class="arrow"
  /></a>
</div>
