<div class="real-container">
  <div class="title">
    <h3>Aplicación web Angular</h3>
    <div class="linea"></div>
  </div>
  <p>
    Aplicación web dinámica, desarrollada con el framework Angular 14 y lenguaje
    TypeScript, siguiendo una estructura orientada a módulos y servicios. Desde
    los servicios se accede a la Api de Rest para el intercambio de datos,
    definiendo JSON cómo estándar de comunicación, para la creación de galerías
    dinámicas. <br />
    En el siguiente enlace podrás ver el código completo en GitHub.
  </p>

  <a
    href="https://github.com/Diegoarn/laboratorios_master/tree/main/modulo_4/angular/laboratorio"
    target="_blank"
    class="git"
    >GitHub</a
  >

  <div class="image-container">
    <div class="page">
      <img src="./assets/angular/angular1.png" />
    </div>
    <div class="page">
      <img src="./assets/angular/angular2.png" />
    </div>
  </div>
  <a routerLink="/"
    ><img src="./assets/flecha-izquierda.png" class="arrow"
  /></a>
</div>
