<div class="menu-container">
  <h3>Imagen corporativa</h3>
  <p>
    Diseño de diversos elementos para la marca BEZUMM.<br />
    Empresa dedicada a la distribución de productos saludables: zumos, batidos,
    frutas.<br />
    Herramientas utilizadas:<br />
    · Photoshop <br />· Illustrator<br />
    · InDesign
  </p>
</div>
<div class="title">
  <h3>Cartelería</h3>
  <div class="linea"></div>
</div>

<div class="card-container">
  <img src="./assets/corp/bezumm_plv.jpg" />
  <img src="./assets/corp/bezumm_plv2.jpg" />
</div>

<div class="title">
  <h3>Carta</h3>
  <div class="linea"></div>
</div>

<div class="etiq-container">
  <img src="./assets/corp/CARTA_1.jpg" class="row" />
  <img src="./assets/corp/CARTA_2.jpg" class="row" />
</div>

<div class="title">
  <h3>Etiquetas</h3>
  <div class="linea"></div>
</div>

<div class="etiq-container">
  <img src="./assets/corp/eti_fruta.jpg" class="row" />
  <img src="./assets/corp/fruta_pack.jpg" class="row" />
</div>
<div class="menu-container">
  <a routerLink="/"
    ><img src="./assets/flecha-izquierda.png" class="arrow"
  /></a>
</div>
