<div class="portfolio-container">
  <div class="item">
    <a routerLink="/portfolio/components-portfolio/real-estate">
      <div class="item-img">
        <img src="./assets/real-estate/inmo_1.png" />
      </div>
      <h4>Aplicación Web Inmobiliaria</h4>
    </a>
  </div>

  <div class="item">
    <a routerLink="/portfolio/components-portfolio/angular">
      <div class="item-img">
        <img src="./assets/angular/angular_6.png" />
      </div>
      <h4>Aplicación Web Angular</h4>
    </a>
  </div>

  <div class="item">
    <a routerLink="/portfolio/components-portfolio/react">
      <div class="item-img">
        <img src="./assets/react/react.png" />
      </div>
      <h4>Aplicación Web React</h4>
    </a>
  </div>

  <div class="item">
    <a routerLink="/portfolio/components-portfolio/catalogues">
      <div class="item-img">
        <img src="./assets/catalogos/cat1.jpg" />
      </div>
      <h4>Catálogos</h4>
    </a>
  </div>

  <div class="item">
    <a routerLink="/portfolio/components-portfolio/billboards">
      <div class="item-img">
        <img src="./assets/billboards/metro_valla.jpg" />
      </div>
      <h4>Publicidad exterior</h4>
    </a>
  </div>

  <div class="item">
    <a routerLink="/portfolio/components-portfolio/menu">
      <div class="item-img">
        <img src="./assets/corp/CARTA_1.jpg" />
      </div>
      <h4>Imagen corporativa</h4>
    </a>
  </div>
</div>
