<header>
  <app-contact></app-contact>
</header>

<main class="cv-container">
  <h2 class="title">Experiencia laboral</h2>
  <div class="line"></div>
  <div class="experiencia">
    <p>
      <strong>RENDA ESTUDIO:</strong> años 2014 - 2022.<br />
      Empresa de diseño 3D.<br />
      Puesto: Diseñador Gráfico.
    </p>
    <ul>
      <li>Diseño de imagen corporativa.</li>
      <li>
        Creación de herramientas publicitarias: catálogos comerciales, folletos,
        PLV, publicidad exterior.
      </li>
      <li>Retoque fotográfico.</li>
    </ul>
    <p class="parrafo-exp">
      <strong>GRUPO CASTILLO:</strong> años 2007-2014.<br />
      Empresa dedicada a la promoción inmobiliaria.<br />
      Puesto: Responsable de marketing.
    </p>

    <ul>
      <li>Diseño de estrategias de comunicación.</li>
      <li>Diseño de herramientas comerciales.</li>
    </ul>
    <div class="parrafo-exp">
      <strong>MADRID ROCK:</strong> años 1995-2007.<br />
      Empresa especializada en la distribución de musica, libros y películas.<br />
      Puesto: Departamento de compras.

      <ul>
        <li>Selección de producto.</li>
        <li>Negociación de condiciones de compra.</li>
        <li>Gestión de pedidos.</li>
        <li>Control de stock.</li>
      </ul>
    </div>
  </div>

  <h2 class="title">Formación Académica</h2>
  <div class="line"></div>
  <div class="experiencia">
    <ul>
      <li>Máster Front End en Lemoncode, año 2022</li>
      <li>Bootcamp JavaScript en Lemoncode, año 2022</li>
      <li>Máster en Diseño Gráfico y Arte final en CICE, año 2012</li>
      <li>
        Licenciado en Marketing por la escuela superior de negocios ESEM, años
        1992-1996
      </li>
    </ul>
  </div>

  <h2 class="title">Herramientas</h2>
  <div class="line"></div>
  <div class="herramientas-container">
    <div class="herramientas-a">
      <img src="./assets/html.png" class="logos" />
      <p>HTML5</p>
    </div>
    <div class="herramientas-b">
      <img src="./assets/css.png" class="logos" />
      <p>CSS3</p>
    </div>
    <div class="herramientas-c">
      <img src="./assets/js.png" class="logos" />
      <p>JavaScript</p>
    </div>
    <div class="herramientas-d">
      <img src="./assets/react.png" class="logos" />
      <p>React</p>
    </div>
    <div class="herramientas-e">
      <img src="./assets/angular.png" class="logos" />
      <p>Angular</p>
    </div>
    <div class="herramientas-f">
      <img src="./assets/svelte.png" class="logos" />
      <p>Svelte</p>
    </div>
    <div class="herramientas-g">
      <img src="./assets/photoshop.png" class="logos" />
      <p>Photoshop</p>
    </div>
    <div class="herramientas-h">
      <img src="./assets/illustrator.png" class="logos" />
      <p>Illustrator</p>
    </div>
    <div class="herramientas-i">
      <img src="./assets/indesign.png" class="logos" />
      <p>InDesign</p>
    </div>
    <div class="herramientas-j">
      <img src="./assets/typescript.png" class="logos" />
      <p>TypeScript</p>
    </div>
    <div class="herramientas-k">
      <img src="./assets/github-logo.png" class="logos" />
      <p>GitHub</p>
    </div>
  </div>
  <!-- <div class="idiomas">
    <p><b>- Idiomas:</b> inglés nivel B2.</p>
  </div> -->
  <button class="pdf-container">
    <a href="javascript:window.open('../assets/cv_f.pdf','_blank');"
      >Descargar CV</a
    >
  </button>
  <h2 class="title">Proyectos</h2>
  <div class="line"></div>
</main>
<div class="portfolio">
  <app-portfolio></app-portfolio>
</div>
